<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>温馨提示</title>
</head>

<body>
    <div class="my-01">
        一旦提交后，不可修改，需联系所在学校管理员退回。是否继续提交？
        <form action="" method="POST">
            继续提交 <input type="radio" name="choose" id="c1" value="1" /> 
            我再想想 <input type="radio" name="choose" id="c2" value="0" />
            <button type="submit">确认</button>
        </form>
    </div>
</body>

</html>